/* === ## Colors ===

### Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%) */

/* === Font === */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* === General === */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.download-button {
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 2rem;
    
}

.text-header {
    text-align: center;
    color: hsl(210, 10%, 33%);
}

.paragraph-text {
    text-align: center;
    color: hsl(201, 11%, 66%);
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
}

.header-margin {
    margin-top: 7rem;
}


.image-sizing{
    width: 85%;
    height: auto;
    margin-bottom: 2rem;
}

.image-sizing-devices {
    width: 85%;
    height: auto;
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2;
    margin-top: 4rem;
}

.grid-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-footer {
    color: hsl(201, 11%, 66%);
}


/* === DOWNLOAD AREA === */

#download-area {
    /* background-image: url(./src/images/bg-header-mobile.png); */
    background-image: url(../images/bg-header-mobile.png);
    background-position: 100% -10%;
    background-repeat: no-repeat;
    
}

.download-items {
    padding-top: 6rem;
}


.background-image-container img {
    margin-bottom: 1rem;
}


.button-container {
    justify-content: center;
    padding-top: 2rem;
    
}


#download-for-iOS {
    background-color: hsl(171, 66%, 44%);
    color: #FFF;
    box-shadow:  0 0 .5em hsl(171, 66%, 44%);
}

#download-for-iOS:hover {
    box-shadow:  0 0 .9em hsl(171, 89%, 45%);
    cursor: pointer;
}

#download-for-mac {
    background-color: hsl(233, 100%, 69%);
    color: #FFF;
    box-shadow:  0 0 .5em hsl(233, 100%, 69%);
    cursor: pointer;
}

#download-for-mac:hover {
    box-shadow:  0 0 .9em hsl(233, 100%, 69%);
    cursor: pointer;
}


/* === KEEP TRACK OF YOUR SNIPPETS === */

.track-header {
    margin-top: 6rem;
}

/* === SUPERCHARGE-AREA === */

#supercharge-workflow {
    margin-top: 4rem;
}


/* === COMPANY-AREA === */

.company-container {
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

/* === FOOTER === */

#clipboard-footer {
    background-color: hsl(201, 11%, 95%);
    margin-top: 9rem;
}

.image-sizing-fix {
    width: 50px;
    height: auto;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

.grid-footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: hsl(201, 11%, 66%);
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.footer-text {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
}

.footer-text > p:hover {
    color: hsl(171, 66%, 44%);
    cursor: pointer;
}
.icon-items {
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 2.5rem;
}

.twitter-logo:hover {
    filter: invert(0.34) sepia(1) saturate(1.9) hue-rotate(122.4deg) brightness(1);
    cursor: pointer;
}
/* === MEDIA QUERIES === */

@media (min-width: 376px) {
    #download-area {
        /* background-image: url(./src/images/bg-header-mobile.png); */
        background-image: url(../images/bg-header-desktop.png);
        background-position: 100% -10%;
        background-repeat: no-repeat;
    }
    
   
}

@media (min-width: 425px) {
    .image-sizing-devices {
        width: 40%;
        height: auto;
        margin-bottom: 2rem;
    }
}

/*  1440px Laptop L media */

@media (min-width: 1440px) {
    .image-sizing-devices {
        width: 85%;
        height: auto;
        margin-bottom: 2rem;
    }
    .download-container {
        justify-content: center;
    }
    .button-container{
        margin-bottom: 4rem;
    }

    .clipboard-paragraph {
        text-align: center!important;
    }
    .button-items {
        flex-direction: row;
    }
    .download-button {
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-radius: 2rem;
        
    }

    .text-header {
        text-align: start;
        color: hsl(210, 10%, 33%);
        margin-left: 1rem;
    }
    
    .paragraph-text {
        text-align: start;
        color: hsl(201, 11%, 66%);
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 3rem;
    }

    .keep-track-header-container {
        justify-content: center;
    }

    .keep-track-paragraph {
        text-align: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 700px 600px;
    }
    
    .grid-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row-start: 1;
    }

    .keep-track-pc-items {
        align-items: flex-start;
        position: relative;
        right: 1.8rem;
    }


    .pc {
        width: 100%;
        height: auto;
    }

    .access-clipboard-container {
        justify-content: center;
    }

    .access-paragraph {
        text-align: center;
    }

    .supercharge-header-container {
        justify-content: center;
        margin-bottom: 5rem;
    }

    .supercharge-container {
        justify-content: center;
    }

    .supercharge-items {
        flex-direction: row;
    }

    .supercharge-icons {
        margin-left: 2rem;
    }

    .blacklist-items {
        gap: 2rem;
    }

    .blacklist-icon {
        position: relative;
        bottom: -1rem;
    }

    .blacklist-header {
        position: relative;
        bottom: -1rem;
    }

    .blacklist-paragraph {
        text-align: center;
        line-height: 2rem;
        position: relative;
        bottom: -1rem;
    }

    .snippets-items {
        gap: 2rem;
    }

    .snippets-paragraph {
        text-align: center;
        line-height: 2rem;
    }

    .preview-items {
        gap: 2rem;
    }

    .preview-paragraph {
        text-align: center;
        line-height: 2rem;
    }

    .company-items {
        flex-direction: row;
        gap: 5rem;
    }

    .dowload-area-2-paragraph{
        text-align: center;
        line-height: 2rem;
    }

    #clipboard-footer {
        background-color: hsl(201, 11%, 90%);
        width: 100%;
        height: 10rem;
    }

    .grid-footer {
        display: grid;
        grid-template-columns: 100px 100px 120px 130px 100px 200px;
        grid-template-rows: 130%;
        margin-left: 9rem;
        gap: 5rem;
    
    }
    
    .grid-footer-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        padding-bottom: 0;
        padding-top: 0;
    }

    #footer-text-1 {
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 2rem;
        color: hsl(201, 11%, 56%);
    }

    #footer-text-2 {
        grid-column-start: 3;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 2rem;
        color: hsl(201, 11%, 56%);
    }

    #footer-text-3 {
        grid-column-start: 4;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 2rem;
        position: relative;
        bottom: 1rem;
        color: hsl(201, 11%, 56%);
    }

    .icon-container {
        grid-row-start: 1;
        grid-column-start: 6;
        
    }

    .icon-items {
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom: 3rem;
        gap: 1.3rem;
        padding-top: 1rem;
    }
    
}

@media (min-width:1920px) {

    #download-area {
        /* background-image: url(./src/images/bg-header-mobile.png); */
        background-image: url(../images/bg-header-mobile.png);
        background-position: 100% -10%;
        background-repeat: repeat-x;
        
    }

    .grid-footer {
        display: grid;
        grid-template-columns: 100px 100px 120px 130px 100px 200px 300px 200px;
        grid-template-rows: 130%;
        margin-left: 12rem;
        gap: 5rem;
    
    }

    .icon-container {
        grid-row-start: 1;
        grid-column-start: 7;
        
    }

    .keep-track-container {
        margin-left: 18rem;
    }
    
}


@media (min-width:2560px) {

    #download-area {
    /* background-image: url(./src/images/bg-header-mobile.png); */
    background-image: url(../images/bg-header-mobile.png);
    background-position: 100% -10%;
    background-repeat: repeat-x;
    
}

    .grid-footer {
        display: grid;
        grid-template-columns: 100px 100px 120px 130px 100px 200px 200px 200px 200px 200px;
        grid-template-rows: 130%;
        margin-left: 15rem;
        gap: 5rem;
    
    }

    .icon-container {
        grid-row-start: 1;
        grid-column-start: 9;
        
    }

    .keep-track-container {
        margin-left: 32rem;
    }
    
}





