/* === ## Colors ===

### Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%) */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 18px;
}

/* === DOWNLOAD AREA === */

